body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgba(235, 246, 255, 0.934)
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
    height: 100%;
    width: 100%;

}

.navbar h4{
    padding-right: 100px;


}

ul{
    display: flex;
    list-style-type: none;
    gap: 60px;
}

.container{
    display: flex;
    height: 100%;
    width: 100%;
    
}

.container-left{
    width: 50%;
    background-color: yellow;
}

.container-right{
    width: 50%;
    background-color: white;
}
